<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginEmpresa</title>
</head>
<body>
<form method="post">
    nomeProprietario:<input type="text" value="" name="nomeProprietario"/>
    cnpj:<input type="text" value="" name="cnpj"/>
    emailEmpresa:<input type="email" value="" name="emailEmpresa"/>
    senha:<input type="password" value="" name="senha"/>
    <button type="submit">Confirmar</button>
</form>
</body>
</html>