<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head><!--Somente o Empresario terá permição -->
<body>
    <form method="post">
        <input type="text" name="nomeFunc" id="nomeFunc">
        <input type="email" name="emailFunc" id="emailFunc">
        <input type="text" name="cpfFunc" id="cpfFunc">
        <select name="gender">
            <option value="" selected>Genero</option>
            <option value="Masc">Masculino</option>
            <option value="Fem">Feminino</option>
            <option value="Ind">Indefinido</option>
        </select>
        <select name="Cargo">
            <option value="" selected>Cargo</option>
            <option value="garcon">Garçon</option>
            <option value="cozinheiro">Cozinheiro</option>
            <option value="gerente">Gerente</option>
        </select>
        <input type="password" name="sennhaFunc" id="senhaFunc">

    </form>
</body>
</html>