<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginFuncionario</title>
    <link rel="stylesheet" href="../funcionario/css/style.css">
</head>


<body>
    <header>
        <div class="container">
            <div><div class="logo-1"></div></div><!--logo-1-->
            <div><div class="logo-1-text">
                <h1>Titulo da Empresa</h1>
            </div></div>
           
            <div class="clear"></div><!--clear-->
            

        </div><!--container-->

    </header>

    <section class="cover-form">
        <div class="container bg">
            <div class="form-container">
                <h2>Login Funcionario</h2>
                <form action="" method="post">
                    <div class="form-wraper">
                        <p>Nome Completo do Funcionario:</p>
                        <input type="text" name="name" required placeholder="Nome">
                    </div><!--form-wraper-->
                    <div class="form-wraper">
                        <p>E-mail do Funcionario:</p>
                        <input type="text" name="email" required placeholder="E-mail">
                    </div><!--form-wraper-->
    
                    <div class="form-wraper">
                        <p>Senha:</p>
                        <input type="password" name="password" required placeholder="Senha">
                    </div><!--form-wraper-->
                    <div class="form-wraper">
                        <input type="submit" name="acao" value="Entrar">
                    </div><!--form-wraper-->
                    <div class="form-wraper">
                        <p>*Campos Obrigatórios</p>
                    </div><!--form-wraper-->
                </form>



            </div><!--form-container-->

            <div class="clear"></div>

        </div><!--container bg-->

    </section><!--cover-form-->

    
</body>
</html>