<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginFuncionario</title>
    <link rel="stylesheet" href="../funcionario/css/style.css">
</head>


<body>
    <form action="post">
    <header>
        <div class="container">
            <div><div class="logo-1"></div></div><!--logo-1-->
            <div><div class="logo-1-text">
                <h1>Titulo da Empresa</h1>
            </div></div>
           
            <div class="clear"></div><!--clear-->
            

        </div><!--container-->

    </header>



    


    </form>
    
</body>
</html>