<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../cardapio/scss/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>menu-cardapio</title>
</head>
<body>
    <header class="header">
        <a href="" class="header-brand">Cardapio</a>
        <nav class="header-navbar">
            <ul>
                <li>
                    <a href="#" class="active">Home</a>
                </li>
                <li>
                    <a href="#" class="active">Fotos</a>
                </li>
                <li>
                    <a href="#" class="active">Serviços</a>
                </li>
                <li>
                    <a href="#" class="active">Sobre</a>
                </li>
                <li>
                    <a href="#" class="active">Contato</a>
                </li>
            </ul>
        </nav>
        <div class="header-social-media">
            <ul>
                <li>
                    <a href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </li>
            </ul>
        </div>

    </header>

    <main>
        <div class="gallery" >
            <div class="gallery-card"id="card-1">
                <h2 class="gallery-card-title">Pizza</h2>
                <a href="" class="gallery-card-btn">Detalhes</a>
            </div>
            <div class="gallery-card" id="card-2">
                <h2 class="gallery-card-title">Pizza</h2>
                <a href="" class="gallery-card-btn">Detalhes</a>
            </div>
            <div class="gallery-card" id="card-3">
                <h2 class="gallery-card-title">Pizza</h2>
                <a href="" class="gallery-card-btn">Detalhes</a>
            </div>
            <div class="gallery-card" id="card-4">
                <h2 class="gallery-card-title">Pizza</h2>
                <a href="" class="gallery-card-btn">Detalhes</a>
            </div>
            <div class="gallery-card" id="card-5">
                <h2 class="gallery-card-title">Pizza</h2>
                <a href="" class="gallery-card-btn">Detalhes</a>
            </div>
            <div class="gallery-card" id="card-6">
                <h2 class="gallery-card-title">Pizza</h2>
                <a href="" class="gallery-card-btn">Detalhes</a>
            </div>
            <div class="gallery-card" id="card-7">
                <h2 class="gallery-card-title">Pizza</h2>
                <a href="" class="gallery-card-btn">Detalhes</a>
            </div>
            <div class="gallery-card" id="card-8">
                <h2 class="gallery-card-title">Pizza</h2>
                <a href="" class="gallery-card-btn">Detalhes</a>
            </div>
            <div class="gallery-card" id="card-9">
                <h2 class="gallery-card-title">Pizza</h2>
                <a href="" class="gallery-card-btn">Detalhes</a>
            </div>
        </div>
        <footer>
            <p><span>Cardapio</span> $copy; 2022</p>
        </footer>
    </main>
    
</body>
</html>