<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Front-end/TelaR.css">
    <title></title>
</head>
<body>
    <form method="post">
        nomeFantasia:<input type="text" value="" name="nomeFantasia"/>
        nomeProprietario:<input type="text" value="" name="nomePropietario"/>
        cnpj:<input type="text" value="" name="cnpj"/>
        emailEmpresa:<input type="email" value="" name="emailEmpresa"/>
        senha:<input type="password" value="" name="senha"/>
        confirmarSenha:<input type="password" value="" name="confirmarSenha"/>
        <button type="submit">Confirmar</button>
    </form>
</body>
</html>